.top-conteiner{
	background-color: #F1E4E6;
	width: 100%;
	height: 148px;
	display: flex;
}
.top-conteiner-block{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.top-conteiner-textblock{
	height: 100%;
	display: flex;
	align-items: center;
	font-family: "Lato-Regular";
}
.textblock1{
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F
}
.textblock2{
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #636363;
}
#textblock2-span{
	color: #F16D7F;
	font-weight: 700;
}
.bottom-conteiner{
	margin-top: 128px;
}








 @font-face {
	font-family: "Lato-Regular";  
	src: url("./fonts/Lato-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
	